.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #10101095;
    z-index: 1000;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
}

.header__nav ul {
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .header__nav ul li {
        position: relative;
        padding: 0 13px;
    }

        .header__nav ul li::after {
            position: absolute;
            top: 50%;
            right: 0;
            width: 2px;
            height: 10px;
            content: "";
            transform: translateY(-50%);
            border-radius: 2px;
            background-color: #8E8E8E;
        }

        .header__nav ul li:last-child::after {
            display: none;
        }

.header__nav li a {
    white-space: nowrap;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

    .header__nav li a:hover {
        padding: 2px 0;
        border-top: 2px solid #EF6C00;
        border-bottom: 2px solid #EF6C00;
    }

.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 45px;
}

    .logo img {
        width: 100%;
        height: 100%;
    }

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 101px;
    white-space: wrap;
    color: white;
    font-family: Shafarik, serif;
    font-size: 20px;
    line-height: 20px;
}
