* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    background-color: #181818;
    font-family: sans-serif;
    scroll-behavior: smooth;
    padding-bottom: 100px;
    transform: scale(var(--zoom-factor));
    transform-origin: top center;
}

button, a {
    background: none;
    border: none;
    text-decoration: none;
}

.section-container {
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

section {
    padding-top: 80px;
}
