.section-npt{
    padding-top: 0;
}
.home {
    position: relative;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url('../public/foto/Notre-Dame.png') no-repeat center;
    background-size: cover;
}

.home__preview {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top:40vh;
    text-align: center;
    color: #ffffff;
}


.home__preview-title h1 {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: "Arsenal", sans-serif;
    font-size: 79px;
    font-weight: 700;
    font-style: normal;
}


.home__preview-subtitle h3 {
    margin-top: -20px;
    margin-bottom: 20px;
    opacity: 0.9;
    font-family: "Arsenal", sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}
