/* ВИДЕО КАРТОЧКИ (ШИРОКИЕ) */
.video-card-wide {
    display: flex;
    gap: 20px;
    background: rgba(101, 101, 101, 0.19);
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 10px;
}

.video-preview {
    width: 220px;
    height: 120px;
    overflow: hidden;
    position: relative;
    color: #000000;
    flex-shrink: 0;
    border-radius: 15px;
}

    .video-preview img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

.video-info {
    margin: 20px 0;
    margin-right: 20px;
    font-size: 20px;
}

    .video-info h3 {
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

.play-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: inherit;
    transition: opacity 0.4s ease;
}

.play-button {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.video-card-wide:hover .play-overlay {
    opacity: 1;
}

.video-card-wide:hover .play-button {
    transform: scale(1);
}

.video-card-wide:hover img {
    transform: scale(1.05);
}


/* МОДАЛКА */
.video-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-inner {
    width: 90%;
    max-width: 800px;
}

    .modal-inner iframe {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 20px;
        border: none;
    }

/* Стилизация полосы прокрутки (делаем её красивой и оранжевой) */
.media-block-container::-webkit-scrollbar {
    width: 6px;
}

.media-block-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}

.media-block-container::-webkit-scrollbar-thumb {
    background: #ef6c00; /* Твой основной оранжевый цвет */
    border-radius: 10px;
}

    .media-block-container::-webkit-scrollbar-thumb:hover {
        background: #ff8c00;
    }
