.features {
    position: relative;
}

.features__grid {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 80px;
}

.features__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 320px;
    min-height: 232px;
    text-align: center;
    color: white;
}

.features__icon {
    align-self: center;
    width: auto;
    height: 80px;
    justify-self: center;
}

.features__title {
    margin-top: 10px;
    white-space: nowrap;
    font-family: "Droid Serif", serif;
    font-size: 24px;
    font-weight: bold;
}

.features__description {
    width: 100%;
    min-height: 90px;
    margin-top: 17px;
    margin-bottom: 23px;
    text-align: center;
    font-family: "Droid Serif", serif;
    font-size: 15px;
}
