.father-grid {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.father-grid__image {
    overflow: hidden;
    width: 250px;
    height: 340px;
    margin: 0 auto;
}

    .father-grid__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

.father-grid__name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 10px auto 0;
    text-align: center;
    color: #ef6c00;
    font-family: "Droid Serif", serif;
    font-size: 17px;
    font-weight: 700;
}

    .father-grid__name::before,
    .father-grid__name::after {
        width: 5px;
        height: 1px;
        margin: 0 10px;
        content: "";
        background-color: #ef6c00;
    }

.father-grid__san {
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-family: "Droid Serif", serif;
    font-size: 15px;
    font-weight: 400;
}
